<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/6865b76e-a767-43b5-af88-6c9307f1904f/resourceGroups/LocationService/providers/Microsoft.Web/sites/LocationServiceMLI</ResourceId>
    <ResourceGroup>LocationService</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://locationservicemli.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>741af40f-5297-4c6a-9090-2c4913584ed8</ProjectGuid>
    <PublishUrl>https://locationservicemli.scm.azurewebsites.net/</PublishUrl>
    <UserName>$LocationServiceMLI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>